@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .max-h-screen {
    max-height: 100svh;
  }
  .min-h-screen {
    min-height: 100svh;
  }
}

.light{
  --grey-bg:#F3F5FF;
}

.newChatMobile{
  border-radius: 24px 24px 0px 0px;
}

.blurBG{
  background-color: rgba(0, 0, 0, 0.5);
}
