@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .max-h-screen {
    max-height: 100svh;
  }
  .min-h-screen {
    min-height: 100svh;
  }
}

.light {
  --grey-bg: #f3f5ff;
}

.newChatMobile {
  border-radius: 24px 24px 0px 0px;
}

.blurBG {
  background-color: rgba(0, 0, 0, 0.5);
}

.settingPanel {
  @apply flex-1 sm:max-w-[45%] sm:basis-[45%] lg:max-w-[40%] lg:basis-[40%] xl:max-w-[30%] xl:basis-[30%];
}
